<% if logged_in? %>
    <script id="bootstrap-current-user" type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder",
            user: current_user).html_safe %>
    </script>
<% end %>
<script src="https://unpkg.com/wavesurfer.js"></script>
<main id="yo"></main>