.user-hero {
    display: block;
}

.profileHeader {
    position: relative;
    margin-left: -30px;
    margin-right: -30px;
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
    height: 260px;
}

.phEdit {
    position: absolute;
    left: 230px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;
    padding: 30px;
}

.phChooserWrapper {
    float: right;
}

.headerImageEditBtn {
    min-width: 31px;
    background-color: rgba(255,255,255,.8);
    border-color: rgba(0,0,0,.1);
    background-clip: padding-box;
    transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
    text-indent: 19px;
    float: right;
    display: inline-block;
    position: relative;
    height: 26px;
    margin: 0;
    padding: 2px 11px 2px 10px;
    border: 1px;
    border-radius: 3px;
    cursor: pointer;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    box-sizing: border-box;
    vertical-align: baseline;
}

.phInfo {
    position: relative;
    z-index: 1;
}

.phInfoAvatarContainer {
    margin-right: 30px;
    float: left;
}

.phAvatarImage {
    height: 200px;
    width: 200px;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    position: relative;
}

.phAvatarBtn {
    overflow: hidden;
    /* opacity: 0; */
    transition: opacity .1s linear;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    text-align: center;
    cursor: pointer;
}

.imagePicker {
    background-color: rgba(255,255,255,.8);
    border-color: rgba(0,0,0,.1);
    background-clip: padding-box;
    transition: background-color .2s ease-in-out,border-color .2s ease-in-out;
    text-indent: 19px;
    display: inline-block;
    position: relative;
    height: 26px;
    margin: 0;
    padding: 2px 11px 2px 10px;
    border: 1px;
    border-radius: 3px;
    cursor: pointer;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    box-sizing: border-box;
}

.phInfoContentContainer {
    overflow: hidden;
}

.phInfo-username {
    margin: 0;
    color: #fff;
    font-weight: 100;
    font-size: 24px;
    line-height: 37px;
    padding: 4px 7px;
    display: inline-block;
    position: relative;
    background-color: rgba(0,0,0,.8);
}

.phBG {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #e5e5e5;
}

.userInfoBar {
    position: relative;
    padding-top: 15px;
}

.userInfoBarTabsUL {
    font-size: 18px;
    line-height: 1.8;
    border-bottom: 1px solid #f2f2f2;
    list-style: none;
    margin: 0;
    padding: 0;
}

.userInfoBarTabsUL:before {
    content: "";
    display: table;
}

.userInfoBarTabsUL:after {
    content: "";
    display: table;
    clear: both;
}


.userInfoBarBtns {
    position: absolute;
    right: 0;
    bottom: 9px;
}

.userInfoBarBtns-container {
    vertical-align: middle;
    display: inline-block;
    clear: both;
}

.uiBarStation {
    min-width: 31px;
    float: left;
    margin-right: 5px;
    color: #333;
    text-indent: 19px;
    display: inline-block;
    position: relative;
    height: 26px;
    padding: 2px 11px 2px 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    box-sizing: border-box;
}
.uiBarFollow {
    min-width: 31px;
    float: left;
    margin-right: 5px;
    background-color: #f50;
    border-color: #f50;
    color: #fff;
    display: inline-block;
    position: relative;
    height: 26px;
    padding: 2px 11px 2px 10px;
    border: 1px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    box-sizing: border-box;
}

.uiBarUnFollow {
    background-color: #fff;
    min-width: 31px;
    float: left;
    margin-right: 5px;
    color: #f50;;
    display: inline-block;
    position: relative;
    border: 1px solid #f50;
    height: 26px;
    padding: 2px 11px 2px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    box-sizing: border-box;
}

.follow-icon {
    float: left;
}

.follow-text {
    float: right;
    text-indent: 5px;
}

.uiBarShare {
    min-width: 31px;
    float: left;
    margin-right: 5px;
    color: #333;
    text-indent: 19px;
    display: inline-block;
    position: relative;
    height: 26px;
    padding: 2px 11px 2px 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    box-sizing: border-box;
}
.uiBarMessage {
    min-width: 31px;
    float: left;
    margin-right: 5px;
    color: #333;
    text-indent: 19px;
    display: inline-block;
    position: relative;
    height: 26px;
    padding: 2px 11px 2px 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    box-sizing: border-box;
}
.uiBarMore {
    min-width: 31px;
    float: left;
    margin-right: 5px;
    color: #333;
    text-indent: 19px;
    display: inline-block;
    position: relative;
    height: 26px;
    padding: 2px 11px 2px 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    box-sizing: border-box;
}


.UIBTLI:first-child {
    margin-left: 0;
}

.UIBTLI {
    float: left;
    margin: 0 12px -1px;
    font-size: 18px;
    line-height: 1.8;
    list-style: none;
}

.UIBTLI-active {
    border-color: #f50;
    color: #f50;
    cursor: default;
}

.dashboard-content-container {

}

.artistTrackList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.artistTrackList:before {
    content: "";
    display: table;
}

.artistTrackList:after {
    content: "";
    display: table;
    clear: both;
}


.avatarUploadUsername {
    margin-top: 0;
    font-size: 22px;
    line-height: 1;
    padding-bottom: 9px;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
    margin-left: 0;
    margin-right: 0;
}

.avatarFooterContainer {
    margin-top: 25px;
    min-height: 32px;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.afBtns {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.afBtns:before {
    content: "";
    display: table;
}

.afBtns:after {
    content: "";
    display: table;
    clear: both;
}

.afCancel {
    float: left;
    margin-right: 5px;
    border: 0;
    background: 0 0;
    transition: none;
    padding-top: 3px;
    padding-bottom: 3px;
        display: inline-block;
    position: relative;
    height: 26px;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 2px 11px 2px 10px;
    padding-right: 11px;
    padding-left: 10px;
    border-radius: 3px;
    cursor: pointer;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    box-sizing: border-box;
}

.afSave {
    float: left;
    background-color: #f50;
    border-color: #f50;
    color: #fff;
    display: inline-block;
    position: relative;
    height: 26px;
    margin: 0;
    padding: 2px 11px 2px 10px;
    border: 1px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    box-sizing: border-box;
}

.avatarImageContainer {
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
}

.artistAvImage {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}


