.main-main {
    /* padding-top: 46px; */
    position: relative;
}

.content-left-container {
    padding-right: 20px;
    margin-right: 330px;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-right: 1px solid #f2f2f2;
    display: block;
}

.social-container {
    position: absolute;
    top: 30px;
    bottom: 0;
    right: 0;
    width: 300px;
    display: block;
}

.track-discover-main-modular-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

.track-discover-main-modular-list:before {
    content: "";
    display: table;
}

.track-discover-main-modular-list:before {
    content: "";
    display: table;
    clear: both;
}

.track-discover-main-modular-item {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
}

.track-discover-main-modular-module {
    border-bottom: solid 1px #f2f2f2;
    margin-bottom: 34px;
    display: block;
    list-style: none;
}

.track-discover-main-modular-module-title {
    margin-bottom: 24px;
    display: block;
}

.track-discover-main-modular-module-title-header {
    margin-top: 0;
    margin: 0;
    font-size: 23px;
    font-weight: 100;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    line-height: 1.3;
    color: #333;
}

.track-discover-main-modular-module-title-body {
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-weight: 100;
    color: #999;
    font-size: 14px;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.track-discover-main-modular-module-content {
    height: 220px;
    box-sizing: border-box;
    background: #666;
    position: relative;
    margin-bottom: 15px;
    display: block;
}

.track-discover-main-modular-module-content-gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    
}

.track-discover-main-modular-module-content-gradient2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* z-index: 2; */
    opacity: 1;
    transition: opacity .3s;
}

.track-discover-main-modular-module-content-artwork {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 180px;
    width: 180px;
    display: block;
}

.track-discover-main-modular-module-content-artwork-image {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.track-discover-main-modular-module-content-artwork-image-ph {
    height: 100%;
    width: 100%;
    cursor: pointer;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    background-image: linear-gradient(135deg,#8e8485,#70929c);
    display: block;
    background-size: cover;
    background-position: 50% 50%;
}
.track-discover-main-modular-module-content-artwork-image-main {
    width: 100%;
    height: 100%;
    opacity: 1;
    box-shadow: rgba(0,0,0,.1)0 0 0 1px inset;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
}

.track-discover-main-modular-module-content-tracklist {
    display: block;
    text-align: -webkit-match-parent;
    display: block;
}

.track-discover-main-modular-module-content-tracklist-area {
    position: absolute;
    left: 213px;
    top: 20px;
    right: 13px;
    bottom: 20px;
    overflow: hidden;
}

.track-discover-main-modular-module-content-tracklist-area2 {
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden !important;
}

.track-discover-main-modular-module-content-tracklist-scrollable {
    height: 180px;
    overflow-x: hidden;
    width: 593px;
    padding-right: 30px;
    overflow-y: scroll;
}

.track-discover-main-modular-module-content-tracklist-list {
    list-style: none;
    margin: 0;
}

.track-discover-main-modular-module-content-tracklist-list:before {
    content: "";
    display: table;
}

.track-discover-main-modular-module-content-tracklist-list:after {
    content: "";
    display: table;
    clear: both;
}

.track-discover-main-modular-module-content-tracklist-item {
    display: list-item;
    text-align: -webkit-match-parent;
}

.track-discover-main-modular-module-content-tracklist-item-a {
    color: rgba(255,255,255,.7);
    box-sizing: border-box;
    height: 40px;
    align-items: center;
    position: relative;
    border-bottom: solid 1px rgba(255,255,255,.1);
    display: flex;
    flex-direction: row;
    font-weight: 100;
    font-size: 14px;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    cursor: pointer;
}

.track-discover-main-modular-module-content-tracklist-item-a1 {
    flex: 1;
    font-weight: 100;
    padding: 0 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
    color: rgba(255,255,255,.7);
    font-size: 14px;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    cursor: pointer;
}

.track-discover-main-modular-module-content-tracklist-item-a1-artist {
    font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    white-space: nowrap;
    word-break: normal;
    color: rgba(255,255,255,.7);
    font-size: 14px;
    cursor: pointer;
}

.track-discover-main-modular-module-content-tracklist-item-a1-title {
    color: #fff;
    font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    white-space: nowrap;
    word-break: normal;
    font-size: 14px;
    cursor: pointer;
}

.track-discover-main-modular-module-content-tracklist-item-a2 {
    padding: 0 8px;
    display: flex;
    align-items: center;
    color: rgba(255,255,255,.7);
    font-size: 14px;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    cursor: pointer;
}

.track-discover-main-modular-module-content-tracklist-item-a2-content {
    color: #fff;
    font-size: 11px;
    line-height: 12px;
    display: inline-block;
    font-family: "InterstateSound Tnum","Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
}

.track-discover-main-modular-module-content-tracklist-item-a2-content:before {
    background-size: 16px 16px;
    width: 16px;
    height: 12px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9I…AxM1YzbDkgNS05IDV6IiBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=); */
}

.track-discover-main-modular-module-context {
    height: 40px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.track-discover-main-modular-module-context-icon-container {
    margin-right: 8px;
    display: block;
    list-style: none;
}

.track-discover-main-modular-module-context-icon {
    margin-top: 0;
    padding: 10px 0 8px;
    overflow: hidden;
}

.track-discover-main-modular-module-context-icon-body {
    height: 100%;
}

.track-discover-main-modular-module-context-icon-image {
    height: 30px;
    width: 30px;
    background: 0 0;
    border-radius: 50%;
    text-align: center;
    position: relative;
    display: block;
}

.track-discover-main-modular-module-context-icon-image-content {
        /* background-image: url(https://i1.sndcdn.com/avatars-000637909884-xzhewy-t50x50.jpg); */
    width: 30px;
    height: 30px;
    opacity: 1;
    border: 2px solid #fff;
    box-sizing: border-box;
    background-origin: border-box;
    border-radius: 50%;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.track-discover-main-modular-module-context-body {
    font-weight: 100;
    color: #999;
    font-size: 14px;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    text-align: -webkit-match-parent;

}






.track-discover-main-modular-module-content2 {
    position: relative;
    display: block;
    text-align: -webkit-match-parent;
    list-style: none;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    color: #333;

}

.track-discover-main-modular-module-gallery {
    position: relative;
    overflow: hidden;
    overflow-x: scroll;
    padding-top: 5px;
    margin-top: -5px;
    display: block;
    text-align: -webkit-match-parent;
    list-style: none;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    color: #333;
}

.track-discover-main-modular-module-gallery-ctr {
    backface-visibility: hidden;
    transform: translate3d(0,0,0);
    display: block;
    text-align: -webkit-match-parent;
    list-style: none;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    color: #333;
}

.track-discover-main-modular-module-gallery-slider {
    transition: transform .6s ease-in-out 0s;
    backface-visibility: hidden;
    transform: translate3d(0,0,0);
    display: flex;
    margin-right: -20px;
}

.track-discover-main-modular-module-gallery-item {
    width: 23%;
    flex: 0 0 23%;
    padding-right: 20px;
    box-sizing: border-box;
    backface-visibility: hidden;
    position: relative;
    z-index: 20;
    display: block;
    text-align: -webkit-match-parent;
    list-style: none;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    color: #333;
}