.stream-header {
    margin-bottom: 25px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stream-header-text {
    margin-top: 0;
    font-weight: 100;
    color: #999;
    font-size: 18px;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.stream-list {
    margin-top: 15px;
    display: block;
}

.stream-list:before {
    content: "";
    display: table;
}

.stream-list:after {
    content: "";
    display: table;
    clear: both;
}

.track-stream-item {
    padding-top: 0;
    clear: both;
    margin-bottom: 36px;
    position: relative;
}

.activity {
    display: block;
}

.activity-content {
    display: block;
    height: auto;
}

.activity-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
}

.activity-avatar {
    margin-right: 8px;
    position: relative;
    word-wrap: break-word;
    height: 100%;
    display: block;
}

.avatar-body {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: block;
}

.activity-text {
    color: #999;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.activity-text-username {
    color: #333;
}

.activity-body {
    display: flex;
    flex: 1;
    position: relative;
    height: 100%;
}

.activity-artwork {
    position: relative;
    margin-right: 15px;
    display: block;
}

.act-artwork-container {
    background: transparent 50%/contain no-repeat;
    display: block;
    width: 160px;
    height: 160px;
    z-index: 2;
    cursor: pointer;
}

.act-body-content {
    flex: 1;
    overflow-x: hidden;
    display: block;
}

.act-body-header {
    position: relative;
    margin: 0 0 6px;
    padding-top: 7px;
    min-height: 43px;
    z-index: 2;
    display: block;
}

.act-body-header-container {
    font-size: 16px;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 400;
    margin: 0;
    line-height: 1.3;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.act-body-header-container:before {
    content: "";
    display: table;
}

.act-body-header-container:after {
    content: "";
    clear: "both";
    display: table;
}

.act-title {
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 400;
    margin: 0;
    line-height: 1.3;
}



.waveform-container {
    height: 60px;
    position: relative;
    display: block;
}

.act-body-comment {
    position: relative;
    z-index: 3;
    opacity: 0;
    margin-top: 0;
    display: block;
    transition: opacity .3s, height .3s, margin .3s;
}

.act-body-footer {
    position: relative;
    margin-top: 10px;
    min-height: 30px;
    box-sizing: border-box;
    display: block;
    transition: all 300ms ease-in-out;
}


.act-playbtn {
    margin-right: 5px;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 400;
    line-height: 1.3;
    display: block;
    font-size: 16px;
    word-break: break-word;
    overflow-wrap: break-word;
}

.act-playbtn-ctnr {
    height: 36px;
    width: 36px;
}


.playbtn {
    width: 100%;
    height: 100%;
    background-color: #f50;
    border-radius: 50%;
    margin: 1px 0;
    padding: 0;
    // text-indent: -100000px;
    border: 0;
    font-size: 12px;
    line-height: 36px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    color: white;
}

.playbtn-arw {
    display: inline-block;
    // line-height: 18px;
    // text-align: center;
    // vertical-align: middle;
    // height: 36px;
}

.act-username {
    flex: 1;
    display: block;
    min-width: 0;
    font-size: 16px;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 400;
    margin: 0;
    line-height: 1.3;
    word-break: break-word;
    overflow-wrap: break-word;
}

.act-username-name {
    font-size: 12px;
    line-height: 16px;
    font-weight: 100;
    color: #999;
    display: block;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.act-username-title {
    font-size: 15px;
    line-height: 1.2;
    color: #333;
    max-width: 100%;
    font-weight: 100;
    box-sizing: border-box;
}

.act-tags {
    align-self: flex-start;
    margin-left: 5px;
    text-align: right;
    display: block;
    font-size: 16px;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 400;
    margin: 18px 0 0;
    line-height: 1.3;
}