.track-upload-container {
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    color: #333;
    display: block;
}

.track-upload-content {
    margin: -30px auto 0;
    padding: 30px 0;
    width: 800px;
    display: block;
}

.uploadBG {
    width: 800px;
    height: 90px;
}

.uploadForm {
    flex-direction: column;
    margin: 0 0 5px 0;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
    position: relative;
    display: flex;
    box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
    border: 1px solid #f2f2f2;
}

.uploadForm-content {
    margin: 100px 0;
    display: block;
    text-align: center;
}

.uploadForm-content-header {
    margin-top: 0;
    font-size: 22px;
    color: #333;
    font-weight: 100;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans","Garuda","Verdana","Tahoma","sans-serif";
}

.uploadForm-submit-container {
    margin-top: 16px;
    margin-right: 0px;
    margin-bottom: 12px;
    margin-left: 0px;
    display: block;
    text-align: center;
}
.input-dd {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.upload-button {
    min-width: 300px;
    background-color: #f50;
    border-color: #f50;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    padding: 10px 15px;
    height: 40px;
    display: inline-block;
    position: relative;
    margin: 0;
    border-radius: 3px;
    white-space: nowrap;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    box-sizing: border-box;
}