.upload-modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.upload-modal {
    position: fixed;
    opacity: 1;
    z-index: 1000;
    background-color: rgba(242,242,242,.9);
    outline: none;
    padding-right: 0px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    display: block;
}


.upload-modal-dropbox {
    background: #fff;
    top: 50%;
    left: 50%;
    width: 740px;
    height: 290px;
    margin: -200px 0 0 -400px;
    padding: 30px 30px 80px;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: absolute;
    box-shadow: 5px 5px 22px -4px rgba(0,0,0,.6);
    transition: box-shadow .07s,transform .07s;
    display: block;
    text-align: center;
    font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    color: #333;
}

.upload-modal-dropbox-inner {
    border: 1px dashed transparent;
    height: 100%;
    position: relative;
    display: block;
    text-align: center;
    font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    color: #333;
}

.upload-modal-dropbox-inner-title {
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 32px;
    color: #e5e5e5;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    width: 100%;
    left: 0;
    transition: color .2s;
    text-align: center;
    font: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}